* {
    font-family: sans-serif;
}

header {
    display: inline-flex;
    height: 64px;
    justify-content: space-between;
    width: 100%; 
}

#logo img {
    height: 32px;
    vertical-align: middle;
    padding-left: 24px;
}

#colmar {
    font-weight: bold;
}

nav ul {
    padding-right: 24px;
}

nav li {
    display: inline-block;
    margin-left: 16px;
}

#learn {
    display: flex;
    background-color: lightgray;
    align-items: center;
    padding: 32px 24px;
}

#learn img {
    float: left;
    width: 60%;
    padding-right: 24px;
}

#learn button {
    text-align: center;
    padding: 8px;
    width: 100%;
}
