* {
    font-family: sans-serif;
}

html {
    font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    display: inline-flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

#logo img {
    height: 2rem;
    vertical-align: middle;
    padding-left: 1.5rem;
}

#colmar {
    font-weight: bold;
}

nav ul {
    padding-right: 1.5rem;
}

nav li {
    display: inline-block;
    margin-left: 1rem;
}

@media only screen and (max-width: 638px) {
    #colmar, #academy {
        display: none;
    }
}

@media only screen and (min-width: 491px) {
    #mobile {
        display: none;
    }
}

@media only screen and (max-width: 491px) {
    #desktop {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    #mobile img {
        display: inline-block;
    }
}

#learn {
    display: flex;
    background-color: lightgray;
    align-items: center;
    padding: 2rem 1.5rem;
}

#learn img {
    float: left;
    width: 60%;
    padding-right: 1.5rem;
}

#learn button {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    color: white;
    background-color: dimgray;
}

@media only screen and (max-width: 491px) {
    #learn {
        display: block;
        padding: 0;
    }

    #learn img {
        width: 100%;
        float: none;
    }

    #learn div {
        padding: 2rem 1rem;
    }

    #learn h3 {
        padding: 2rem 0 1.5rem;
    }
}

#practice {
    display: flex;
    padding: 2rem 1.5rem;
}

#reading {
    padding-bottom: 2rem;
    padding-right: 1.5rem;
    width: -webkit-fill-available;
}

#caption {
    padding-top: 2rem;
}

#practiceleft {
    border-right: 1px solid gray;
    width: 60%;
}

#practiceleft h1 {
    padding-bottom: 1.5rem;
}

#practiceright {
    width: 40%;
}

.callout {
    border-bottom: 1px solid gray;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.callout img {
    height: auto;
    width: 35%;
    float: left;
    clear: both;
    padding: 1rem;
}

.rectangle {
    display: none;
}

.top img {
    padding-top: 0;
}

.featured {
    background-color: lightgray;
}

#special {
    display: none;
}

.calltext p {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 491px) {
    #practice {
        padding: 0;
    }
    
    #practiceleft {
        display: none;
    }

    #practiceright {
        width: 100%;
    }

    .callout {
        display: block;
        border-bottom: none;
    }

    .callout img {
        width: -webkit-fill-available;
        float: none;
        clear: none;
    }

    .square {
        display: none;
    }

    .rectangle {
        display: block;
    }

    .top img {
        padding-top: 1rem;
    }

    .calltext {
        padding-left: 2rem;
    }

    .featured {
        background-color: white;
    }

    #our {
        display: none;
    }

    #special {
        display: inline;
    }
}

#start {
    background-color: lightgray;
    padding: 2rem 3.5rem;
}

#start h1 {
    text-align: center;
    margin-bottom: 1rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.module {
    margin: 1rem;
    background-color: white;
    flex-basis: 350px;
}

.module img {
    height: auto;
    width: 100%;
}

.moduletext {
    padding: 1rem 1rem 1.5rem;
}

.moduletext h4, p {
    padding-bottom: 0.5rem;
}

#thesis {
    padding: 2rem 0.5rem 2rem 1.5rem;
    width: 100%;
}

#thesis h1 {
    text-align: center;
    margin-bottom: 2rem;
}

#thesiscontainer {
    display: flex;
}

video {
    height: auto;
    width: -webkit-fill-available;
}

#thesisleft {
    width: 60%;
    padding-right: 1.5rem;
}

#thesisleft h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#thesisright {
    width: 40%;
}

.exhibit {
    display: flex;
    align-items: center;
}

.exhibit img {
    padding: 1rem;
    width: 35%;
    height: auto;
}

.first {
    background-color: lightgray;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1.5rem;
    border-top: 1px solid lightgray;
}

footer li {
    display: inline-block;
    margin-left: 0.5rem;
}