* {
    font-family: sans-serif;
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    display: inline-flex;
    height: 4rem;
    justify-content: space-between;
    width: 100%; 
}

#logo img {
    height: 2rem;
    vertical-align: middle;
    padding-left: 1.5rem;
}

#colmar {
    font-weight: bold;
}

nav ul {
    padding-right: 1.5rem;
}

nav li {
    display: inline-block;
    margin-left: 1rem;
}

#learn {
    display: flex;
    background-color: lightgray;
    align-items: center;
    padding: 2rem 1.5rem;
}

#learn img {
    float: left;
    width: 60%;
    padding-right: 1.5rem;
}

#learn button {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    color: white;
    background-color: dimgray;
}

#practice {
    display: flex;
    padding: 2rem 1.5rem;
}

#reading {
    padding-bottom: 2rem;
    padding-right: 1.5rem;
    width: -webkit-fill-available;
}

#practiceleft {
    border-right: 1px solid gray;
    width: 60%;
}

#practiceright {
    width: 40%;
}

.callout {
    border-bottom: 1px solid gray;
    overflow: hidden;
}

.callout img {
    height: auto;
    width: 35%;
    float: left;
    clear: both;
    padding: 1rem;
}